main {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

body{
  margin: 0px;
}

.player-column {
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.player-turn {
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 3em;
  text-shadow: 0px 0px 5px yellow;
  margin: 0;
}

.main-section {
  background-image: url("https://i.pinimg.com/originals/0b/59/34/0b5934b623f3c6f5377f221959d77982.gif");
  background-size: cover;
  width: 50%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
}

.grid-item {
  border: 4px solid black;
  border-style: none dashed solid double;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-container {
  background: rgba(43, 54, 132, .6);
  border-radius: 100px;
  padding: 20px 50px 20px 50px;
  margin-bottom: 60px;
  text-align: center;
}

.hidden {
  display: none;
}

/* game board boxes */

.one {
  border-style: none solid solid none;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

.two {
  border-style: none solid solid solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #00C853, #B2FF59);
}

.three {
  border-style: none none solid solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

.four {
  border-style: solid solid solid none;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

.five {
  border-style: solid solid solid solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #00C853, #B2FF59);
}

.six {
  border-style: solid none solid solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

.seven {
  border-style: solid solid none none;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

.eight {
  border-style: solid solid none solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #00C853, #B2FF59);
}

.nine {
  border-style: solid none none solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

h1 {
  font-size: 7em;
  text-shadow: 0px 0px 10px cyan;
  margin: 0;
}

.red-outline {
  font-size: 7em;
  text-shadow: 0px 0px 10px red;
}

h2 {
  font-family: 'Space Mono', monospace;
  color: white;
  display: block;
}

img {
  max-width: 100%;
}
